@import url("/css/variables.css");
@import url("/css/header.css");
@import url("/css/styles.css");


.navbar_elems > li > *:hover{
    color: #ffffff;
    font-weight: 500;
}

.dropdown:hover .dropdown_elems {
    display: block;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.logo:hover {
    color: white;
}

header button:hover {
    background-color: #dbdbdb;
}

header button:active {
    background-color: #dbdbdb;
    box-shadow: inset 0 0 0 2px black;
}
.services_burger_menu li:hover {
    background-color: #eeeeee;
}

.page_button:hover {
    color: white;
}
.services:hover +
.services_burger_menu,
.services_burger_menu:hover {
    display: flex;
}
#menu-icon:hover {
    cursor: pointer;
    background-color: #333;
}

input[type="search"]:focus {
    outline: none;
    box-shadow: 0 0 10px 0 #007bff;
}