@import url("/css/variables.css");

.navbar_elems > li > *:hover{
    color: #ffffff;
    font-weight: 500;
}

.dropdown:hover .dropdown_elems {
    display: block;
}
:after, :before {
    box-sizing: border-box;
}