@import url("variables.css");
@import url("header.css");
@import url("styles.css");


.navbar_elems > li > *:hover{
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
}

.dropdown:hover .dropdown_elems {
    display: block;
    cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.logo:hover {
    color: white;
    cursor: pointer;
}

header button:hover {
    background-color: #dbdbdb;
    cursor: pointer;
}

header button:active {
    background-color: #dbdbdb;
}
.services_burger_menu li:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.page_button:hover {
    color: white;
}
.services:hover +
.services_burger_menu,
.services_burger_menu:hover {
    display: flex;
    cursor: pointer;
}
#menu-icon:hover{
    cursor: pointer;
    background-color: #333;
}

input[type="search"]:focus {
    outline: none;
    box-shadow: 0 0 10px 0 #007bff;
}