@import url("../css/variables.css");

/* tags */
header {
    grid-area: h;
    width: 100vw;
    height: 50px;
    background-color: var(--header_background_color);
    padding-left: 13vw;
    padding-right: 13vw;
    position: fixed;
}
.header_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--view_max_width);
}
header div {
    display: flex;
    flex-direction: row;
}
input[type="search"] {
    height: 2.2rem;
    width: 12rem;
    padding: 4px 8px 4px 8px;
    font-size: 0.9rem;  
    font-weight: lighter;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
    margin-right: 4px;
}

.navigation_list {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.this_page_button {
    color: white ;
    background-color: black;
}

.navigation_list a {
    color: #959595;
    padding: 17px 14px 17px 14px;
    font-size: 0.9rem;
}

.services_burger_menu {
    display: none;
    flex-direction: column;
    margin-top: 17px;
    border-width: 2px;
    border-color: #dbdbdb;
    border-style: none solid solid solid;
    width: 150%;
    border-radius: 0px 0px 4px 4px;
}

.services_burger_menu a {
    padding: 0;
    padding-right: 50%;
    padding-left: 9%;
    padding-top: 7px;
    padding-bottom: 6px;
    line-height: 30px;
    width: 100%;
    height: 100%;
    color: #333;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

#menu-icon {
    height: 50px;
    width: 50px;
    display: none;
    left: 100%;
    color: white;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 2px;
    margin-right: 10px;
}


@media screen and (max-width: 800px) {
    header {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}
@media screen and (max-width: 700px) {
    header {
        padding-left: 1vw;
        padding-right: 1vw;
    }
    
    nav, input, #search_button {
        display: none;
    }
    
    #menu-icon{
        display: block;
    }

    #menu-icon:checked +  nav,
    #menu-icon:checked +  nav > ul,
    #menu-icon:checked +  nav > ul > li{
        display: flex;
        flex-direction: column;
        background-color: var(--header_background_color);
    }

    .header_div > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    

    #menu-icon:checked +  nav > ul{
        left: 0%;
        transform: translateY(10px);
        width: 100vw;
    }
}

