@import url("/css/variables.css");

header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    background-color: var(--header_background_color);
    padding-left: 12vw;
    padding-right: 13vw;
}
header div {
    display: flex;
    flex-direction: row;
}
.navigation_list {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.this_page_button {
    color: white ;
    background-color: black;
}

.navigation_list a {
    color: #959595;
    padding: 17px 14px 17px 14px;
    font-size: 0.9rem;
}

.services_burger_menu {
    display: none;
    flex-direction: column;
    margin-top: 17px;
    border-width: 2px;
    border-color: #dbdbdb;
    border-style: none solid solid solid;
    width: 150%;
    border-radius: 0px 0px 4px 4px;
}

.services_burger_menu a {
    padding: 0;
    padding-right: 50%;
    padding-left: 9%;
    padding-top: 7px;
    padding-bottom: 6px;
    line-height: 30px;
    width: 100%;
    height: 100%;
    color: #333;
}


input[type="search"] {
    height: 2.2rem;
    width: 12rem;
    padding: 4px 8px 4px 8px;
    font-size: 0.9rem;  
    font-weight: lighter;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
    margin-right: 4px;
}


button {
    height: 2.2rem;
    width: 4.5rem;
    padding: 4px 10px 4px 10px;
    font-size: 0.9rem;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

#menu-icon {
    display: none;
    color: white;
    align-items: center;
    font-size: 2rem;
    justify-content: end;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 2px;
    margin-right: 10px;
    transform: scale(1.15, 0.9);
}
nav li{
    display: inline-block;
    vertical-align: top;
}
@media screen and (max-width: 800px) {
    header {
        padding-left: 3vw;
        padding-right: 3vw;
    }
}

@media screen and (max-width: 700px) {
    header {
        padding-left: 1.5vw;
        padding-right: 1.5vw;
    }
    
    nav, input, button {
        display: none;
    }
    
    #menu-icon{
        display: inline;
    }
    #menu-icon:checked ~ ul {
        display: block;
    }    
}



